@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --background: 204 197 185;
      --foreground: 255 252 242;
      --primary: 235 94 40;
      --secondary: 37 36 34;
      --tertiary: 255 252 242;
   }

   .dark {
      --background: 37 36 34;
      --foreground: 255 252 242;
      --primary: 235 94 40;
      --secondary: 255 252 242;
      --tertiary: 37 36 34;
   }
}

:root {
   background-color: rgb(var(--background));
   color: rgb(var(--secondary));
}
